<!DOCTYPE html>
<html class="mdl-js" lang="en"><head>
    <meta charset="UTF-8">

    <title>{{ .Spec.Description }} - CI Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://prow.ci.openshift.org/static/style.css">
    <link rel="stylesheet" type="text/css" href="https://prow.ci.openshift.org/static/extensions/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!--
        <script type="text/javascript" src="https://prow.ci.openshift.org/static/extensions/script.js"></script>
        <script defer="" src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <script type="text/javascript" src="https://prow.ci.openshift.org/static/prow_bundle.min.js"></script>
        <script type="text/javascript" src="https://prow.ci.openshift.org/prowjobs.js?var=allBuilds&amp;omit=annotations,labels,decoration_config,pod_spec"></script>
        <script type="text/javascript">
          var spyglass =  true ;
          var rerunCreatesJob =  true ;
        </script>
        -->
        <style>
          table#builds td.old_tests,
          table#builds th.old_tests,
          table#builds th.test_group{
              text-align: left;
          }
          table#builds td,table#builds th {
              text-align: center;
          }

          .old_test_success {
              background-color: green;
          }
          .old_test_step_success {
              background-color: lightgreen;
          }
          .old_test_step_failed {
              background-color: red;
          }
          .old_test_step_missing {
              background-color: gray;
          }
          .old_test_known_flake {
              background-color: #FFC300;
          }
          .old_test_parsing_error {
              background-color: black;
          }

          .test_count_ok {
              background-color: #DAF7A6;
          }
          .test_count_failures {
              background-color: #ffb7a6;
          }
          .test_count_ignored {
              background-color: #FFC300;
          }

          .cell_ocp {
              width: 150px;
          }

          .cell_operator {
          }

          .results-cell {
              width: 150px;
          }
          .date-cell {
              width: 300px;
          }
        </style>
  </head>
  <body id="index">

    <div id="alert-container"></div>
    <div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded" data-upgraded=",MaterialLayout">
        <header class="mdl-layout__header is-casting-shadow" style="background-color: black;"><div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
          <div class="mdl-layout__header-row">
            <a href="/" class="logo"><img src="https://prow.ci.openshift.org/static/extensions/logo.png" alt="kubernetes logo" class="logo"></a>
            <span class="mdl-layout-title header-title">{{ .Spec.Description }}</span>
          </div>
        </header>
        <div id="loading-progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden is-upgraded" data-upgraded=",MaterialProgress"><div class="progressbar bar bar1" style="width: 0%;"></div><div class="bufferbar bar bar2" style="width: 100%;"></div><div class="auxbar bar bar3" style="width: 0%;"></div></div>

        <main class="mdl-layout__content">

          <button id="top-navigator" class="mdl-button mdl-js-button mdl-button--fab hidden" data-upgraded=",MaterialButton">
            <i class="material-icons">arrow_upward</i>
          </button>

          <div class="page-content">
            <!--
            <aside>
              <div id="filter-box" class="card-box">
                <ul id="filter-list" class="noBullets">
                  <li>Filter</li>
                  <li><select id="type"><option>all job types</option><option>batch</option><option>periodic</option><option>postsubmit</option><option>presubmit</option></select></li>
                  <li><select id="repo"><option>all repositories</option></select></li>
                  &gt;&gt;
                  <li><select id="pull"><option>all pull requests</option></select></li>
                  <li><select id="author"><option>all authors</option></select></li>
                  <li>
                    <div class="fuzzy-search" id="job">
                      <input class="fuzzy-search-input" placeholder="Search job name, accepts '*' wildcards" type="text" id="job-input">
                      <ul id="job-list" class="fuzzy-search-list"><li>ami_build_origin_int_fedora_crio</li></ul>
                    </div>
                  </li>
                  <li><select id="state"><option>all states</option><option></option><option>aborted</option><option>error</option><option>failure</option><option>pending</option><option>success</option><option>triggered</option></select></li>
                  <li><select id="cluster"><option>all clusters</option><option>api.ci</option><option>app.ci</option><option>build01</option><option>build02</option><option>default</option><option>vsphere</option></select></li>
                  <li id="job-count">Showing 8/8 jobs</li>
                </ul>
              </div>
            </aside>
            -->

            {{ range $matrix_name, $matrix := .Spec.Matrices }}
            {{ range $test_group, $tests := .Tests }}

            <article>&nbsp;</article>
            <article>
              <div class="table-container">
                <table id="builds">
                  <thead>
                    <tr>
                      <th class="test_group">{{ $test_group | group_name}}</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </article>

            <article>
              <div class="table-container">
                <table id="builds">
                  <thead>
                    <tr>
                      <th><!-- success/error icon --></th>
                      <th>Ansible tests<!-- test ok/failures/ignored --></th>
                      <th>Prow</th>
                      <th>CI-Artifacts</th>
                      <th class='cell_operator'>{{ $matrix.OperatorName }}</th>
                      <th>OpenShift</th>
                      <th>Last finished</th>
                      <th class="old_tests">History of the last {{ nb_last_test }} tests:</th>
                    </tr>
                  </thead>
                  {{ range $test := $tests }}
                  <tbody>
                    <tr class="changed">
                      {{ if $test.OldTests }}
                      {{ $last_test := (index $test.OldTests 0) }}
                      {{ $test_status := test_status $last_test }}
                      <td class="icon-cell" title="{{ test_status_descr $last_test $test_status }}">
                        {{ if eq $test_status "success" }}
                        <i class="material-icons state success">check_circle</i>
                        {{ else if eq $test_status "step_success" }}
                        <i class="material-icons state success">check_circle</i>
                        {{ else if eq $test_status "known_flake" }}
                        <i class="material-icons state known_flake">remove_circle</i>
                        {{ else if eq $test_status "step_failed" }}
                        <i class="material-icons state failure">error</i>
                        {{ else if eq $test_status "step_missing" }}
                        <i class="material-icons state aborted">remove_circle</i>
                        {{ else }}
                        <i class="material-icons state error">warning</i>
                        {{ end }}
                        <!--
                        <i class="material-icons state aborted">remove_circle</i>
                        <i class="material-icons state failure">error</i>
                        <i class="material-icons state pending">watch_later</i>
                        -->
                      </td>
                      <td class="results-cell">
                        {{ if $test.OldTests }}
                        <span title="{{ $last_test.Ok }} Tests OK" class="test_count_ok">&nbsp;{{ $last_test.Ok }}&nbsp;</span>{{ if $last_test.Failures }}|<span title="{{ $last_test.Failures }} Tests Failures" class="test_count_failures">&nbsp;{{ $last_test.Failures }}&nbsp;</span>{{ end }}{{ if $last_test.Ignored }}|<span title="{{ $last_test.Ignored }} Tests Ignored" class="test_count_ignored">&nbsp;{{ $last_test.Ignored }}&nbsp;</span>{{ end }}
                        {{ end }}
                      </td>
                      <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="{{  spyglass_url $matrix $test.ProwName $last_test}}"><i class="icon-button material-icons" title="View test result in Prow">visibility</i></a></td>
                      <td class='cell_repo'>
                        {{ if $last_test.CiArtifactsVersion }}
                        <a class="mdl-button mdl-js-button mdl-button--icon" href="https://github.com/openshift-psap/ci-artifacts/commit/{{ $last_test.CiArtifactsVersion }}">
                          <i class="icon-button material-icons" title="ci-artifacts commit #{{ $last_test.CiArtifactsVersion }}">hub</i></a>
                        {{ end }}
                      </td>
                      <td class='cell_operator'>
                        {{ if $last_test.OperatorVersion }}
                          {{ $last_test.OperatorVersion }}
                        {{ else }}
                          {{ $test.OperatorVersion }}
                        {{ end }}
                      </td>
                      <td class='cell_ocp'>
                        {{ if $last_test.OpenShiftVersion }}
                          {{ $last_test.OpenShiftVersion }}
                        {{ end }}
                      </td>
                      <td class="date-cell"><div tabindex="0">
                          {{ if $last_test.TestSpec }}
                             {{ $last_test.FinishDate }}
                          {{ else }}
                              Test-spec not found.
                          {{ end }}
                      </td>
                      <td class="old_tests">
                        {{ range $idx, $old_test := $test.OldTests }}
                        {{$old_test_status := test_status $old_test}}
                        <a title="{{ test_status_descr $old_test $old_test_status }}.
{{ $old_test.FinishDate}}
OK: {{ $old_test.Ok }}, Failures: {{ $old_test.Failures }}, Ignored: {{ $old_test.Ignored }}
{{ if eq $idx 0 }}(Most recent test){{ end }}"
                           {{ if ne $old_test_status "step_missing" }}
                           href="{{ artifacts_url $matrix $old_test}}/artifacts"
                           {{ else }}
                           href="{{  spyglass_url $matrix $test.ProwName $old_test}}"
                           {{ end }}
                           class="old_tests old_test_{{ $old_test_status }}">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        {{ if eq $idx 0 }}
                        |
                        {{ end }}
                        {{ end }}
                        {{ range $idx := no_test_history $test }}
                        <span class="no_old_test no_old_test_{{ $idx}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {{ end }}
                      </td>
                      {{ end }}
                    </tr>
                  </tbody>
                  {{ end }}
                </table>
              </div>
            </article>
            {{ end }}
            {{ end }}
            <div id="rerun">
              <div id="rerun-content"></div>
            </div>
          </div>
        </main>

        <div id="footer">
          Document generated on {{ .Date }}.
        </div>
  </body>
</html>
