<!DOCTYPE html>
<html class="mdl-js" lang="en"><head>
  <meta charset="UTF-8">

  <title>Prow Status</title>
  <link rel="stylesheet" type="text/css" href="https://prow.ci.openshift.org/static/style.css">
  <link rel="stylesheet" type="text/css" href="https://prow.ci.openshift.org/static/extensions/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <!--
  <script type="text/javascript" src="https://prow.ci.openshift.org/static/extensions/script.js"></script>
  <script defer="" src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <script type="text/javascript" src="https://prow.ci.openshift.org/static/prow_bundle.min.js"></script>
  <script type="text/javascript" src="https://prow.ci.openshift.org/prowjobs.js?var=allBuilds&amp;omit=annotations,labels,decoration_config,pod_spec"></script>
  <script type="text/javascript">
    var spyglass =  true ;
    var rerunCreatesJob =  true ;
  </script>
  -->
</head>
<body id="index">
<div id="alert-container"></div>
<div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded" data-upgraded=",MaterialLayout">
  <header class="mdl-layout__header is-casting-shadow" style="background-color: black;"><div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
    <div class="mdl-layout__header-row">
      <a href="/" class="logo"><img src="https://prow.ci.openshift.org/static/extensions/logo.png" alt="kubernetes logo" class="logo"></a>
      <span class="mdl-layout-title header-title">Prow Status</span>
    </div>
  </header>
  <div class="mdl-layout__drawer" aria-hidden="true">
    <span class="mdl-layout-title">Prow Dashboard</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-navigation__link--current" href="/">Prow Status</a>

        <a class="mdl-navigation__link" href="/pr">PR Status</a>

      <a class="mdl-navigation__link" href="/command-help">Command Help</a>

        <a class="mdl-navigation__link" href="/tide">Tide Status</a>
        <a class="mdl-navigation__link" href="/tide-history">Tide History</a>

      <a class="mdl-navigation__link" href="/plugins">Plugins</a>
      <a class="mdl-navigation__link" href="https://github.com/kubernetes/test-infra/blob/master/prow/README.md" target="_blank">Documentation <span class="material-icons">open_in_new</span></a>
    </nav>
    <footer>
      fe8b28563d
    </footer>
  </div>
  <div id="loading-progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden is-upgraded" data-upgraded=",MaterialProgress"><div class="progressbar bar bar1" style="width: 0%;"></div><div class="bufferbar bar bar2" style="width: 100%;"></div><div class="auxbar bar bar3" style="width: 0%;"></div></div>
  <main class="mdl-layout__content">

<button id="top-navigator" class="mdl-button mdl-js-button mdl-button--fab hidden" data-upgraded=",MaterialButton">
  <i class="material-icons">arrow_upward</i>
</button>

<div class="page-content">
<aside>
    <div id="filter-box" class="card-box">
      <ul id="filter-list" class="noBullets">
        <li>Filter</li>
        <li><select id="type"><option>all job types</option><option>batch</option><option>periodic</option><option>postsubmit</option><option>presubmit</option></select></li>
        <li><select id="repo"><option>all repositories</option></select></li>
        &gt;&gt;
        <li><select id="pull"><option>all pull requests</option></select></li>
        <li><select id="author"><option>all authors</option></select></li>
        <li>
          <div class="fuzzy-search" id="job">
            <input class="fuzzy-search-input" placeholder="Search job name, accepts '*' wildcards" type="text" id="job-input">
            <ul id="job-list" class="fuzzy-search-list"><li>ami_build_origin_int_fedora_crio</li></ul>
          </div>
        </li>
        <li><select id="state"><option>all states</option><option></option><option>aborted</option><option>error</option><option>failure</option><option>pending</option><option>success</option><option>triggered</option></select></li>
        <li><select id="cluster"><option>all clusters</option><option>api.ci</option><option>app.ci</option><option>build01</option><option>build02</option><option>default</option><option>vsphere</option></select></li>
        <li id="job-count">Showing 8/8 jobs</li>
      </ul>
    </div>
  </aside>

  <article>
    <div class="table-container">
      <table id="builds">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>OpenShift 4.6</th>
          <th>GPU Operator 1.6.2</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
      </table>
    </div>
  </article>
  <article>
    <div class="table-container">
      <table id="builds">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Repository</th>
          <th>Revision</th>
          <th></th>
          <th>Job</th>
          <th>Started</th>
          <th>Duration</th>
        </tr>
        </thead>
        <tbody>
          <tr class="changed">
            <td class="icon-cell" title="Succeeded">
              <i class="material-icons state success">check_circle</i>
              <i class="material-icons state error">warning</i>
              <i class="material-icons state aborted">remove_circle</i>
              <i class="material-icons state failure">error</i>
              <i class="material-icons state pending">watch_later</i>
            </td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="..." data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Build log">description</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-button material-icons" title="Show instructions for rerunning this job">refresh</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="/prowjob?prowjob=74c799e6-86ab-11eb-aabc-0a580a8204ae" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show job YAML">pageview</i></a></td>
            <td></td>
            <td></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e/1371959681651576832" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="View in Spyglass">visibility</i></a></td>
            <td><a href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e/1371959681651576832">periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e</a></td>
            <td><div tabindex="0">00:00:52</div><div data-mdl-for="time-cell-6472" class="mdl-tooltip mdl-tooltip--large" data-upgraded=",MaterialTooltip">Mar 17 2021, 00:00:52 UTC+0100</div></td>
            <td>1h22m23s</td></tr>

          <tr>
            <td class="icon-cell" title="Succeeded"><i class="material-icons state success">check_circle</i></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="log?job=periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152&amp;id=1371959666891821056" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Build log">description</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show instructions for rerunning this job">refresh</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="/prowjob?prowjob=72e568bf-86ab-11eb-aabc-0a580a8204ae" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show job YAML">pageview</i></a></td>
            <td></td>
            <td></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152/1371959666891821056" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="View in Spyglass">visibility</i></a></td>
            <td><a href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152/1371959666891821056">periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152</a></td>
            <td><div tabindex="0">00:00:49</div><div data-mdl-for="time-cell-6485" class="mdl-tooltip mdl-tooltip--large" data-upgraded=",MaterialTooltip">Mar 17 2021, 00:00:49 UTC+0100</div></td>
            <td>1h21m37s</td></tr>
        </tbody>
      </table>
    </div>
  </article>

  <article>
    <div class="table-container">
      <table id="builds">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>OpenShift 4.5</th>
          <th>GPU Operator 1.5.2</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
      </table>
    </div>
  </article>

    <article>
    <div class="table-container">
      <table id="builds">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Repository</th>
          <th>Revision</th>
          <th></th>
          <th>Job</th>
          <th>Started</th>
          <th>Duration</th>
        </tr>
        </thead>
        <tbody>
          <tr class="changed">
            <td class="icon-cell" title="Succeeded">
              <i class="material-icons state success">check_circle</i>
              <i class="material-icons state error">warning</i>
              <i class="material-icons state aborted">remove_circle</i>
              <i class="material-icons state failure">error</i>
              <i class="material-icons state pending">watch_later</i>
            </td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="..." data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Build log">description</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-button material-icons" title="Show instructions for rerunning this job">refresh</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="/prowjob?prowjob=74c799e6-86ab-11eb-aabc-0a580a8204ae" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show job YAML">pageview</i></a></td>
            <td></td>
            <td></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e/1371959681651576832" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="View in Spyglass">visibility</i></a></td>
            <td><a href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e/1371959681651576832">periodic-ci-openshift-psap-ci-artifacts-release-next-gpu-operator-e2e</a></td>
            <td><div tabindex="0">00:00:52</div><div data-mdl-for="time-cell-6472" class="mdl-tooltip mdl-tooltip--large" data-upgraded=",MaterialTooltip">Mar 17 2021, 00:00:52 UTC+0100</div></td>
            <td>1h22m23s</td></tr>

          <tr>
            <td class="icon-cell" title="Succeeded"><i class="material-icons state success">check_circle</i></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="log?job=periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152&amp;id=1371959666891821056" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Build log">description</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show instructions for rerunning this job">refresh</i></a></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="/prowjob?prowjob=72e568bf-86ab-11eb-aabc-0a580a8204ae" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="Show job YAML">pageview</i></a></td>
            <td></td>
            <td></td>
            <td class="icon-cell"><a class="mdl-button mdl-js-button mdl-button--icon" href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152/1371959666891821056" data-upgraded=",MaterialButton"><i class="icon-button material-icons" title="View in Spyglass">visibility</i></a></td>
            <td><a href="https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152/1371959666891821056">periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e-152</a></td>
            <td><div tabindex="0">00:00:49</div><div data-mdl-for="time-cell-6485" class="mdl-tooltip mdl-tooltip--large" data-upgraded=",MaterialTooltip">Mar 17 2021, 00:00:49 UTC+0100</div></td>
            <td>1h21m37s</td></tr>
        </tbody>
      </table>
    </div>
  </article>
  <div id="rerun">
    <div id="rerun-content"></div>
  </div>
</div>


  </main>
<div class="mdl-layout__obfuscator"></div></div></div>

<div id="toast" class="mdl-js-snackbar mdl-snackbar" data-upgraded=",MaterialSnackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button" aria-hidden="true"></button>
</div>



</body></html>
